.modal-header_aux {
    background-color: #20252a;
    color: white;
    /* height: 45px;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; */
}