<!-- BEGIN breadcrumb -->

<!-- END breadcrumb -->
<!-- BEGIN page-header -->

<!-- END page-header -->

<div title="vehicles" class="ng-container">
    <div class="row">
        <div class="col-lg-4">
            <input class="form-control" placeholder="Buscar..." (keyup)="updateFilter($event)" />
        </div>
        <div class="col-lg-8 text-center">
            <button type="button" class="btn btn-primary mb-1 " (click)="openNuevo(modalDialog)">Nuevo Vehiculo</button>

        </div>

    </div>
    <table class="footable table table-stripped toggle-arrow-tiny">
        <thead>
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Year</th>              
                <th>Make </th>
                <th>Capacity</th>              
                <th>Active</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let i=index;let vehicle of vehiclesM ">               
               <th>{{vehicle.id}}</th>
                <th>{{vehicle.description}}</th>
                <th>{{vehicle.year}}</th>              
                <th>{{vehicle.make }}</th>
                <th>{{vehicle.capacity}}</th>                         
                <td>
                    <i *ngIf="vehicle.active == true" class="fa fa-check text-navy"></i>
                    <i *ngIf="vehicle.active == false" class="fa fa-minus-circle text-danger"></i>
                </td>
                <td>
                    <button title="Editar " class="btn btn-primary btn-sm" type="button" (click)="open(modalDialog,vehicle.id)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button title="Eliminar " class="btn btn-danger btn-sm" type="button" (click)="deletevehicle(vehicle)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <!-- <ul class="pagination float-right"></ul>-->
                    <!-- <pagination-controls previousLabel='Anterior' nextLabel='Siguiente' class="my-pagination   float-right" (pageChange)="p = $event"></pagination-controls> -->
                </td>
            </tr>
        </tfoot>
    </table>


    <!-- END table-responsive -->

    <!-- #modal-dialog -->
    <ng-template #modalDialog let-c="close" let-d="dismiss">
        <!--<panel title="Maestro de linea" footerClass="pb-0 pt-20px"> modal-header  #20252a-->
        <div class="modal-header modal-header_aux">
            <h5 class="modal-title">vehicle</h5>
            <a class="btn btn-danger btn-icon btn-circle btn-sm" (click)="d('Cross click')"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-body">
            <div class="col-xl-12">
                <div>
                    <form>
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">Id :</label>
                            <div class="col-md-8">
                                <input disabled type="text" name="id" class="form-control mb-5px" placeholder="Codigo" [(ngModel)]="vehicleM.id" />
                            </div>
                            <div class="col-md-1">
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="vehicleM.active" [ngModelOptions]="{standalone: true}" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">Descripcion :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control mb-5px" placeholder="Descripcion" [(ngModel)]="vehicleM.description" id="description" name="description" />
                            </div>
                        </div>
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">Año :</label>
                            <div class="col-md-10">
                                <input type="text" name="last_name" class="form-control mb-5px" placeholder="Año" [(ngModel)]="vehicleM.year"  />
                            </div>
                        </div>
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">Marca :</label>
                            <div class="col-md-10">
                                <input type="text" name="city" class="form-control mb-5px" placeholder="make" [(ngModel)]="vehicleM.make"  />
                            </div>
                        </div>
                        <div class="row mb-15px">
                            <label class="form-label col-form-label col-md-2">capacidad :</label>
                            <div class="col-md-10">
                                <input type="text" name="capacity" class="form-control mb-5px" placeholder="capacity" [(ngModel)]="vehicleM.capacity"  />
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary  mb-1" (click)="guardar()">Guardar</button>
        </div>      
    </ng-template>
</div>